# Archivos compilados
bin/
*.class

# Archivos de IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos de compilación
*.jar
*.war
*.ear 